extends admin.pug

block variables
  - title = "Create a New Piece of writing"

block content
  h1 #{title}
  +form("POST", "", [
    {
      label: "Title",
      placeholder: "Attack of the Dread Spud King",
      name: "title",
      required: true,
      value: work.title
    },
    {
      label: "ID",
      placeholder: "attack-dread-spud-king (unique)",
      name: "id",
      required: true,
      value: work.id
    },
    {
      label: "Author",
      placeholder: "The Potato Poet",
      name: "author",
      required: true,
      value: work.author
    },
    {
      label: "Type",
      placeholder: "Short Story",
      name: "type",
      requred: true,
      value: work.type
    },
    {
      label: "Genre",
      placeholder: "Horror",
      name: "genre",
      required: true,
      value: work.genre
    },
    {
      label: "Event",
      placeholder: "Nanowrimo 2020 (optional)",
      name: "event",
      value: (work.event ? work.event : "")
    },
    {
      label: "Synopsis",
      type: "textarea",
      placeholder: "A chilling tale of the Spud King's wars on the puny groundwalkers (humans).",
      name: "synopsis",
      required: true,
      value: work.synopsis
    },
    {
      label: "Banner Image",
      placeholder: "/writing/attack-dread-spud-king/banner.jpg (optional)",
      name: "image",
      value: (work.image ? work.image : "")
    },
    {
      label: "Excerpt",
      type: "textarea",
      placeholder: "All hail the spud king (optional)",
      name: "excerpt",
      value: (work.excerpt ? work.excerpt : "")
    },
    {
      label: "Content",
      type: "textarea",
      name: "content",
      placeholder: "[INSERT SCARIEST THING YOU CAN THINK OF HERE] (only if published on website)",
      value: (work.content ? work.content : "")
    },
    {
      label: "Published",
      type: "checkbox",
      name: "published",
      checked: work.published !== false
    },
    {
      label: "Available on website",
      type: "checkbox",
      name: "website",
      checked: work.published !== false && work.published.website !== false
    },
    {
      label: "Link to published version",
      name: "link",
      placeholder: "/writing/attack-dread-spud-king/ (only if published)",
      value: (work.published !== false ? work.published.link : "")
    },
    {
      label: "Status",
      name: "status",
      placeholder: "drafted",
      required: true,
      value: work.status
    }
  ])
