extends ../layout.pug

block navbar-links
  a(href="/admin/") Dashboard
  |
  |
  a(href="/admin/articles/") Posts
  |
  |
  a(href="/admin/projects/") Projects
  |
  |
  a(href="/admin/projects/") Writing
