extends admin.pug

block variables
  - title = "Manage Projects"

block content
  h1 #{title}
  each project in projects
    p
      strong #{project.name}
      br
      a(href=`/admin/manage/projects/${project.id}/` style="color: gold") Edit
