extends admin.pug

block variables
  - title = "New Post"

block content
  article
    h1 New Post
    +form("POST", "./submit", [
      {
        label: "Title",
        name: "title",
        placeholder: "Plain-text", 
        required: true
      },
      {
        label: "Article ID",
        name: "id",
        placeholder: "hyphenated-plain-text (unique)",
        required: true
      },
      {
        label: "Author",
        name: "author",
        value: config.mainAuthor,
        placeholder: "First Last",
        required: true
      },
      {
        label: "Banner Image",
        type: "url",
        placeholder: "http://example.com/banner.png (optional)",
        name: "image"
      },
      {
        label: "Release Date (leave blank to publish today)",
        name: "date",
        placeholder: "Maytember 3, 1812",
      },
      {
        label: "Summary",
        type: "textarea",
        name: "summary",
        placeholder: "Markdown, HTML, or a mix",
        required: true
      },
      {
        label: "Main Content",
        type: "textarea",
        name: "content",
        placeholder: "Markdown, HTML, or a mix",
        required: true
      },
      {
        label: "Tags",
        name: "tags",
        placeholder: "comma, separated, values",
        required: true
      },
      {
        label: "Enable Comments",
        type: "checkbox",
        name: "comments",
        checked: true
      }
    ])
