.article:not(:last-of-type) {
  border-bottom: 1px solid;
}

.article h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  text-align: center;
}

.article h1 a {
  text-decoration: none;
}

.article__details {
  text-align: center;
  margin-top: 0;
}

.article__content {
  border-bottom: 1px solid;
}

.readMore {
  text-align: center;
  text-transform: uppercase;
}

.comments > div {
  border-bottom: 1px solid;
}

.comments > div:empty {
  border-color: #ccc;
}

.comment {
  border: 1px solid;
  padding: 1em;
  border-bottom: 0;
  text-align: left;
}

.comment > p {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
}

.comment img {
  border-radius: 50%;
}

.comment strong {
  padding-left: 1em;
}

/* Reactions */

.reactions {
  color: var(--color);
}

.reactions__button {
  margin: 0.25em;
  padding: 0.25em;
  border: 2px solid;
  border-radius: 0.3em;
  display: inline-block;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.reactions.clickable .reactions__button {
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.reactions__button.checked {
  background-color: #f69b1388;
  color: var(--color);
}
