extends layout.pug

//- Define variables
block variables
  - title = "Blog"
  - metaDescription = "Here is where I reflect every week or so on the world as I see it. Hopefully you'll be interested in some of the stuff I do. I'll release information about events going on in my life, analyze quotes, reflect on music and/or books, and generally have a fun time. I think about all of these things on my own, but the blog is a fun way for me to invite you to step into my mind and take a look around. It's a big place!"
  
block append resources
  link(rel="stylesheet" href="/assets/css/article.css")
  script(src="/assets/js/article.js" async)
    
block append head
  noscript
    style.
      #searchbar {
        display: none;
      }
      /*.tag {
        cursor: default;
      }*/
block header
  h1 See With Eyes Closed: A Blog

block append mixins
  include ./mixins/reactions.pug
    
block content
  each post in recent
    .article
      h1: a(href="./article/" + post.id + "/")= post.title
      p.article__details #{post.date} by #{post.author}
      != md.render(post.summary)
      if (post.reactions.filter(r => r.count).length)
        h4 What people thought:
        +reactions(post.reactions)
      p.readMore: a(href="./article/" + post.id + "/") Read the full article
