extends layout.pug

block variables
  - title = "Contact Me"
  - metaDescription = "Need my input on something? Drop me a quick message and I'll be back to you ASAP."
  
block content
  if parameters.success === "true"
    .success Your message is on its way! I'll get back to you ASAP.
  h1 Contact Me
  +form("POST", "/contact/send", [
    {
      label: "Subject",
      name: "subject",
      placeholder: "What's it all about?",
      maxlength: 256,
      required: true,
      autofocus: true
    },
    {
      label: "Your Email",
      type: "email",
      name: "email",
      placeholder: "you@somewhere.com",
      required: true
    },
    {
      label: "Message",
      type: "textarea",
      name: "message",
      placeholder: "Tell me all about it.",
      required: true
    }
  ], "Send")
