extends layout.pug

block variables
  - title = "Contact Me"
  - metaDescription = "Need my input on something? Drop me a quick message and I'll be back to you ASAP."
  
block content
  if parameters.success === "true"
    .success Your message is on its way! I'll get back to you ASAP.
  h1 Contact Me
  span.accessibility Subject:
  form(method="POST",action="/contact/send/")
    input(type="text","name"="subject",placeholder="Subject...",required,autofocus)
    input(type="email","name"="email",placeholder="Your email...",required)
    textarea(name="message",placeholder="Your message goes here...",required)
    input(type="submit" value="Send")
