footer
  p © #{(new Date()).getFullYear()} Benjamin Hollon. All rights reserved.
  p
    a(href="/contact/") Contact Me
    |  | 
    a(href="/policies/privacy/") Privacy Policy
    |  | 
    a(href="/policies/cookies/") Cookie Policy
    |  | 
    a(href="policies/terms/") Terms of Use
