extends layout.pug

block variables
  - title = "See With Eyes Closed by Benjamin Hollon"

block header
    h1 See With Eyes Closed
    
block append resources
  link(rel="stylesheet" href="/assets/css/homepage.css")

block content
  article
    p Technology. Don't you wish it was simpler?
    p Our modern society revolves around technology, but technology should revolve around it. Rather than adjusting our lives to match what tech companies want, we should force technology to fit what <em>we</em> want.
    p Ability comes from understanding. To be able to shape technology, you must first understand it.
    p This year, I'm going to do my best to teach you how the technology you use every day works.
    p Ready to get started? Jump right in with the most recent article, <a href="/articles/#{article.id}/">"#{article.title}"</a>.

    hr
      
    p I'm Benjamin Hollon, and I made this site as a way to communicate my thoughts publicly to the various people I interact with online and in person.
    //-p You can find out more about me at <a href="https://benjaminhollon.com" target="_blank" rel="noopener">my personal website</a>, where I've posted my various <a href="https://benjaminhollon.com" target="_blank" rel="noopener">projects</a> and <a href="https://benjaminhollon.com/writing/" target="_blank" rel="noopener">published writing</a>.
