extends layout.pug

block variables
  - title = "Benjamin Hollon"
  - metaDescription = '"And now here is my secret, a very simple secret: It is only with the heart that one can see rightly; what is essential is invisible to the eye." - Antoine de Saint-Exupéry, The Little Prince'

block append head
  link(rel="stylesheet", href="/lib/homepage.css")
  script(async,src="https://buttons.github.io/buttons.js")
  script(async,src="https://www.goodreads.com/review/custom_widget/80839667.Recently%20read%20books?cover_position=left&cover_size=small&num_books=50&order=d&shelf=read&show_author=0&show_cover=0&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_read&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1610423899&widget_text_color=000000&widget_title_size=medium&widget_width=medium")
  script(async,src="/lib/homepage.js")

block content
  .fullpage#panel-1
    .fullpage__center
      h1 I'm Benjamin Hollon.
      noscript#occupations-noscript
        p Human Being, Avid Reader, Writer, Trombonist, Composer, Actor, Christian, and Part-Time Polymath
      p#occupations-typewriter(data-occupations="Human Being|Avid Reader|Writer|Trombonist|Composer|Actor|Christian|Part-Time Polymath")
      p
        a.scroll-down(href="#panel-2") Scroll Down
  .fullpage#panel-2
    pre#code__editor
    iframe#code__result(title="Live-coded avocado")
    #code__skip Skip to end
    .fullpage__center--fill
      h2 I code things that make me smile.
      a.github-button(href="https://github.com/benjaminbhollon",data-color-scheme="no-preference: dark; light: dark; dark: dark;",data-size="large",data-show-count="true",aria-label="Follow @benjaminbhollon on GitHub") Follow @benjaminbhollon
  .fullpage#panel-3
    #bookshelf
      .shelf
      .shelf
      .shelf
    .fullpage__center--fill
      h2 I read books that expand my horizons.
      a(href="https://www.goodreads.com/user/show/80839667-benjamin-hollon",title="Benjamin Hollon's book recommendations, liked quotes, book clubs, book trivia, book lists",target="_blank",rel="nofollow noopener")
        img(alt="Benjamin Hollon's book recommendations, liked quotes, book clubs, book trivia, book lists",src="https://s.gr-assets.com/images/widget/widget_logo.gif",style="border-radius: 5px")
    #gr_custom_widget_1610423899
  .fullpage#panel-4
    #window
      #window__toolbar
        #window__toolbar__icons
          .window__toolbar__icon--close
          .window__toolbar__icon--minimize
          .window__toolbar__icon--expand
      pre#window__text
    
    .fullpage__center--fill
      h2 I write stories that ask thought-provoking questions.
      p: a.--inline-block.button--red View Writing
  .fullpage#panel-5
    .fullpage__center--fill
      h2 I make music to bring joy.
  .fullpage#panel-6
    .fullpage__center
      h2 More from me
      p On this site is my blog, <a href="./blog/">See With Eyes Closed<a>. Here is where I reflect every week or so on the world as I see it. Hopefully you'll be interested in some of the stuff I do. I'll release information about events going on in my life, analyze quotes, reflect on music and/or books, and generally have a fun time. I think about all of these things on my own, but the blog is a fun way for me to invite you to step into my mind and take a look around. It's a big place!
