nav.main-nav
  a.main-nav__title(href="/") See With Eyes Closed
  label.main-nav__collapse(for="nav-collapse") &#9776;
  input#nav-collapse(type="checkbox")
  .main-nav__collapsible
    a(href="/") Home
    a(href="/blog/") Blog
    a(href="/projects/") Projects
    a(href="/writing/") Writing
    a(href="/music/") Music
