extends layout.pug

block variables
  - title = policy.title

block append resources
  link(rel="stylesheet",href="/lib/article.css")

block content
  article.article
    != md.render(policy.markdown)
    hr
    p Related pages:
    ul
      each page in policy.related
        li
          a(href=page.link) #{page.name}
