extends layout.pug

block variables
  - title = "Social"
  
block content
  p I have various online accounts where you can follow me. Here are the ones I use the most. Enjoy!
  
  ul
    li: a()
      strong Mastodon
      | @benjaminhollon@fosstodon.social
