extends layout.pug

block variables
  - title = "Social"
  - metaDescription = "I have various online accounts where you can follow me. Here are the ones I use the most. Enjoy!"
  
block content
  p I have various online accounts where you can follow me. Here are the ones I use the most. Enjoy!
  
  ul
    li
      strong: a(href="https://fosstodon.org/@benjaminhollon" rel="me noopener" target="_blank") Mastodon
      br
      | @benjaminhollon@fosstodon.org
    li
      strong: a(href="https://goodreads.com/bibliobone" rel="me noopener" target="_blank") Goodreads
      br
      | bibliobone
    li
      strong: a(href="https://habitica.com/profile/fc6bd8d5-94a2-462b-ac7f-9b03bc446d45" rel="me noopener" target="_blank") Habitica
      br
      | @loverofbooks
    li
      strong: a(href="https://github.com/benjaminbhollon" rel="me noopener" target="_blank") GitHub
      br
      | benjaminbhollon
