extends layout.pug

block variables
  - title = "Subscribe"
  - metaDescription = "When it comes to getting updates for See With Eyes Closed, you have myriad options. Here are the best ways."

block content
  p When it comes to getting updates for See With Eyes Closed, you have myriad options.
  p Here are the best ways:
  ul
    li
      a(href="/feed/") RSS
      |
      |
      a(href="/what-is-rss/" rel="noopener" target="_blank") (What is this?)
    li
      a(href="https://digest.seewitheyesclosed.com/" rel="noopener" target="_blank") Weekly Digest
      |
      |
      | (via Email)
    li
      a(href="https://fosstodon.org/@benjaminhollon" rel="me noopener" target="_blank") Mastodon
      |
      |
      a(href="/what-is-mastodon/" rel="noopener" target="_blank") (What is this?)
  p If you find a problem with any of these methods, <a href="/contact/" rel="noopener" target="_blank">let me know</a> and I'll fix it as quickly as possible.
  
  h2 What is the See With Eyes Closed digest?
  p Every week, I compile a list of everything I've done and put it in an email. I add on cool things related to my interests as well as a weekly quote and send the email to anyone who's subscribed. I have a lot of fun writing it, and it's a great way to get everything from me in one place!
  p I use <a href="https://www.getrevue.co/" rel="noopener" target="_blank">Revue</a> to help me send these, though I'm looking into open source alternatives. Please be sure you agree with their <a href="https://www.getrevue.co/privacy" rel="noopener noreferrer" target="_blank">privacy policy</a> before <a href="https://digest.seewitheyesclosed.com/" rel="noopener" target="_blank">subscribing</a>.
