extends ../layout.pug

block variables
  - title = "Admin Dashboard"

block navbar
  nav.main-nav
    a.main-nav__title(href="/admin/") Admin Dashboard
    label.main-nav__collapse(for="nav-collapse") &#9776;
    input#nav-collapse(type="checkbox")
    .main-nav__collapsible
      a(href="/admin/") Dashboard
      a(href="/admin/post/article/") Post Article
      a(href="/admin/manage/articles/") Manage Articles

block content
  article
    p Greetings, admin! You can do the following:
    ul
      li: a(href="/admin/post/article/") Post a new article
      li: a(href="/admin/manage/articles/") Manage articles
      li: a(href="/admin/manage/comments/") Manage comments
      li: a(href="/admin/post/writing/") Add a new piece of writing
      li: a(href="/admin/manage/writing/") Manage writing
      li: a(href="/admin/post/project/") Add a new project
      li: a(href="/admin/manage/projects/") Manage projects
      li: a(href="/") Exit Dashboard
